@import "tailwindcss";

:root {
  --white : #DCE1E7;
  --bg : black;
  --grey : #848C9C;
}

* {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

body{
  background-color: var(--bg);
}


